.cform{
    background-color: #121214;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
 
}

.contactdetail{
    display: flex;
    column-gap: 2rem;
}
.contactinfo{
    border: 2px solid rgb(56, 45, 45);
    padding: 2rem;
    border-radius: 0.5rem;
}
.contactform{
    border: 2px solid rgb(56, 45, 45);
    padding: 2rem;
    border-radius: 0.5rem;
}
input{
    height: 65px;
    border-radius: 0.7rem;
}
